@model Vidly.Models.Customer
@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>New</h2>
@*If we do not wrap line 9 into a using the form will not close <form> by using using it will use dispose which contains </form> *@
@using (Html.BeginForm("Create", "Customers"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Birthdate)
        @Html.TextBoxFor(m => m.Birthdate, new { @class = "form-control" })
    </div>
    <div class="checkbox">
        <label>@Html.CheckBoxFor(m=>m.IsSubscribedToNewsletter) Subscribe to newsletter?</label>
    </div>
 
}

